<ion-view view-title="Provinces">
  <ion-content class="content-padding">
    <ion-list>
    	<div ng-repeat="province in provinces">
	    	<div class="row" ng-if="$even">
	  			<a class="button btn-province col col-50" ng-href="#/app/cities/{{provinces[$index].id}}" ng-show="provinces[$index].name.length > 0">
		  			{{provinces[$index].name}}
		  		</a>
		  		<a class="button btn-province col col-50" ng-href="#/app/cities/{{provinces[$index+1].id}}" ng-show="provinces[$index+1].name.length > 0">
		  			{{provinces[$index+1].name}}
		  		</a>
		    </div>
		</div> 
    </ion-list>
  </ion-content>
</ion-view>
